@import "./variables";

header {
  height: 80px;
  display: flex;
  align-items: center;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 130px;
      height: auto;
      cursor: pointer;
    }

    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;

      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;

        li {
          cursor: pointer;
          margin-right: 20px;

          &::first-letter {
            text-transform: capitalize;
          }
        }

        .cta {
          text-decoration: none;
          background-color: $primaryColor;
          padding: 10px 20px;
          border-radius: 10px;
          outline: none;
          border: none;
          box-shadow: $boxShadow;
        }

        .cta.register {
          background-color: $secondaryColor;
          color: $primaryColor;
          box-shadow: $boxShadow;

          a {
            color: $primaryColor;
          }
        }

        a {
          text-decoration: none;
        }

        .signin {
          position: relative;

          .login-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: 50px;
            right: 0%;
            background-color: $secondaryColor;
            padding: 20px 10px;
            border-radius: 10px;
            cursor: auto;
            box-shadow: $boxShadow;
            z-index: 10;

            input {
              border: 2px solid rgba($color: $primaryColor, $alpha: 0.8);
              padding: 10px 20px;
              outline: none;
              border-radius: 5px;
              margin-bottom: 20px;
              color: $primaryColor;
              box-shadow: $boxShadow;
            }

            .remember-user {
              display: flex;
              align-items: center;
              justify-content: center;
              margin-bottom: 10px;

              input {
                margin: 0 10px 0 0;
              }

              label {
                color: $primaryColor;
                font-size: 13px;
              }
            }

            .call-login {
              padding: 10px 20px;
              background-color: $primaryColor;
              border: 0;
              border-radius: 10px;
              box-shadow: $boxShadow;
              cursor: pointer;
            }

            ul {
              display: flex;
              justify-content: space-evenly;
              margin-top: 20px;

              li {
                color: $primaryColor;
                font-size: 12px;
                text-decoration: underline;
                cursor: pointer;
                margin: 0;
                text-align: center;
              }
            }
          }
        }

        .upload {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100px;
          background-color: $secondaryColor;
          padding: 5px 10px;
          border-radius: 10px;
          box-shadow: $boxShadow;
          margin: auto;

          .upload-icon {
            display: flex;
            fill: $primaryColor;
          }

          p {
            margin-left: 5px;
            color: $primaryColor;
          }
        }

        .user-area {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;

          .user-info {
            display: flex;
            align-items: center;
            img {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              margin-right: 10px;
            }
          }

          .user-menu {
            position: absolute;
            top: 150%;
            background-color: $secondaryColor;
            box-shadow: $boxShadow;
            border-radius: 10px;
            z-index: 11;

            ul {
              display: flex;
              flex-direction: column;
              align-items: center;
              padding: 10px 20px;

              li {
                color: $primaryColor;
                margin: 0 0 10px 0;

                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-desktop {
      display: none;
    }

    .mobile-menu--btn.active {
      div:first-child {
        transform: translateY(9px) rotate(-50deg);
      }

      div:nth-child(2) {
        transform: scaleX(0);
      }

      div:last-child {
        transform: translateY(-9px) rotate(50deg);
      }
    }

    .mobile-menu--btn {
      width: 30px;
      height: 22px;
      cursor: pointer;
      margin-right: 0%;
      padding-right: 2px;
      z-index: 16;

      div {
        width: 30px;
        height: 2px;
        background-color: $secondaryColor;
        margin-bottom: 7px;
        transition: all ease-in-out 0.5s;
      }
    }

    .nav-mobile.active {
      right: 0%;
    }

    .nav-mobile {
      flex-direction: column;
      display: flex;
      align-items: unset;
      position: fixed;
      top: 0;
      right: -60%;
      width: 60%;
      height: 100vh;
      background-color: $primaryColor;
      z-index: 15;
      transition: all ease-in-out 0.5s;

      ul {
        width: 100%;
        margin-top: 30px;
        height: 150px;
        flex-direction: column;
        justify-content: space-between;

        li {
          text-align: center;
          width: 100%;
          margin-bottom: 30px;
          margin-right: 0;
          padding-bottom: 20px;
          border-bottom: 1px solid $secondaryColor;

          .menu-buttons {
            display: flex;
            justify-content: space-evenly;
          }

          &:last-child {
            border-bottom: 0;
          }
        }

        .cta {
          width: 70px;
          border-bottom: 0;
        }
      }

      .credits {
        font-size: 13px;
        text-align-last: center;
        margin-bottom: 5px;
      }
    }
  }
}

@media (max-width: 400px) {
  header .container {
    .logo {
      width: 100px;
    }

    .menu-buttons {
      align-items: center;
      flex-direction: column;

      .cta {
        margin-bottom: 20px;
      }
    }
  }
}
