@import "./variables";

.image-modal {
  position: fixed;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 99;
  transition: opacity ease-in-out 0.3s;

  .modal-background {
    width: inherit;
    height: inherit;
    background-color: rgba($color: #000000, $alpha: 0.7);
    cursor: pointer;
  }

  .modal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    border-radius: 10px;
    background-color: $primaryColor;
    overflow: visible;

    .modal-image--area {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba($color: #222828, $alpha: 0.3);
      padding: 20px 20px;
      width: 60%;
      height: 95%;
      border-radius: 10px;
      overflow: hidden;
      box-sizing: border-box;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .modal-image--info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 20px;
      max-width: 30%;
      overflow: hidden;
      height: 95%;
      border-radius: 10px;

      .modal-image--authorInfo {
        padding-left: 20px;
        margin-bottom: 30px;

        .image-author {
          margin-bottom: 10px;

          a {
            text-decoration: none;
            position: relative;
            font-weight: 600;

            &:hover::after {
              transform: scaleX(1);
            }

            &::after {
              content: "";
              position: absolute;
              width: 100%;
              height: 2px;
              bottom: 0;
              left: 0;
              border-bottom: 2px solid $secondaryColor;
              transform: scaleX(0);
              transition: all ease-in-out 0.2s;
            }
          }
        }

        .image-proportion {
          font-size: 13px;
        }

        .image-add {
          display: flex;
          margin-top: 5px;

          p {
            margin-right: 10px;
            font-size: 13px;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }

      ul {
        list-style: none;

        .modal-image--links {
          max-width: calc(100% - 20px);
          display: flex;
          margin-bottom: 10px;
          align-items: center;
          margin-bottom: 20px;
          padding: 0 10px 10px 10px;
          border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.3);

          &:last-child {
            border-bottom: none;
          }

          .image-links--wrapper {
            max-width: 100%;

            a {
              width: inherit;
              display: flex;
              background-color: #222828;
              text-decoration: none;
              padding: 10px;
              border-radius: 10px;

              .svg {
                margin-left: 5px;
              }

              .link {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                border-bottom: 1px dotted $secondaryColor;
                margin-left: 20px;
              }
            }
          }
        }
      }
    }

    .close-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -10px;
      right: 20px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: $primaryColor;
      box-shadow: 0 3px 5px rgba($color: #000000, $alpha: 0.6);
      cursor: pointer;
      transition: all ease-in-out 0.2s;

      &:hover {
        background-color: $secondaryColor;

        div {
          background-color: $primaryColor;
        }
      }

      div {
        position: absolute;
        width: 20px;
        height: 3px;
        background-color: $secondaryColor;
        transition: all ease-in-out 0.2s;

        &:first-child {
          transform: rotate(45deg);
        }

        &:last-child {
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.image-modal.active {
  opacity: 1;
}

.image-modal.disabled {
  opacity: 0;
}

@media (max-width: 768px) {
  .image-modal {
    .modal {
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      min-height: 100%;
      top: 0%;
      left: 0%;
      border-radius: 0px;
      overflow-y: scroll;
      overflow-x: hidden;

      .modal-image--area {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba($color: #222828, $alpha: 0.3);
        padding: 20px 20px;
        width: 100%;
        height: 100%;
        border-radius: 0px;
        box-sizing: border-box;
      }

      .modal-image--info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 20px;
        margin-top: 20px;
        max-width: 100%;
        overflow: scroll;
        height: 95%;
        border-radius: 10px;
      }

      .close-btn {
        top: 10px;
        right: 10px;
      }
    }
  }
}
