@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;800&family=Roboto:ital,wght@0,100;0,300;0,400;1,500&display=swap");
.background {
  position: relative;
  overflow: hidden;
  min-height: 500px;
  height: 100%;
  width: 100%;
}

.background::before {
  content: "";
  position: absolute;
  width: 110%;
  height: 680px;
  background-image: url("./images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.background::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#101616));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #101616);
  z-index: -1;
}

@media (max-width: 768px) {
  .background {
    overflow-x: visible;
  }
  .background::before {
    width: 100%;
    height: 100%;
    margin: -15px -30px -30px -15px;
  }
}

header {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container img {
  width: 130px;
  height: auto;
  cursor: pointer;
}

header .container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

header .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

header .container nav ul li {
  cursor: pointer;
  margin-right: 20px;
}

header .container nav ul li::first-letter {
  text-transform: capitalize;
}

header .container nav ul .cta {
  text-decoration: none;
  background-color: #101616;
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  border: none;
  -webkit-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
}

header .container nav ul .cta.register {
  background-color: #e8e8e8;
  color: #101616;
  -webkit-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
}

header .container nav ul .cta.register a {
  color: #101616;
}

header .container nav ul a {
  text-decoration: none;
}

header .container nav ul .signin {
  position: relative;
}

header .container nav ul .signin .login-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50px;
  right: 0%;
  background-color: #e8e8e8;
  padding: 20px 10px;
  border-radius: 10px;
  cursor: auto;
  -webkit-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

header .container nav ul .signin .login-box input {
  border: 2px solid rgba(16, 22, 22, 0.8);
  padding: 10px 20px;
  outline: none;
  border-radius: 5px;
  margin-bottom: 20px;
  color: #101616;
  -webkit-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
}

header .container nav ul .signin .login-box .remember-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

header .container nav ul .signin .login-box .remember-user input {
  margin: 0 10px 0 0;
}

header .container nav ul .signin .login-box .remember-user label {
  color: #101616;
  font-size: 13px;
}

header .container nav ul .signin .login-box .call-login {
  padding: 10px 20px;
  background-color: #101616;
  border: 0;
  border-radius: 10px;
  -webkit-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

header .container nav ul .signin .login-box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 20px;
}

header .container nav ul .signin .login-box ul li {
  color: #101616;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
  margin: 0;
  text-align: center;
}

header .container nav ul .upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  background-color: #e8e8e8;
  padding: 5px 10px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
  margin: auto;
}

header .container nav ul .upload .upload-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #101616;
}

header .container nav ul .upload p {
  margin-left: 5px;
  color: #101616;
}

header .container nav ul .user-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header .container nav ul .user-area .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container nav ul .user-area .user-info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

header .container nav ul .user-area .user-menu {
  position: absolute;
  top: 150%;
  background-color: #e8e8e8;
  -webkit-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  z-index: 11;
}

header .container nav ul .user-area .user-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
}

header .container nav ul .user-area .user-menu ul li {
  color: #101616;
  margin: 0 0 10px 0;
}

header .container nav ul .user-area .user-menu ul li:last-child {
  margin-bottom: 0;
}

@media (max-width: 600px) {
  header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .container .nav-desktop {
    display: none;
  }
  header .container .mobile-menu--btn.active div:first-child {
    -webkit-transform: translateY(9px) rotate(-50deg);
            transform: translateY(9px) rotate(-50deg);
  }
  header .container .mobile-menu--btn.active div:nth-child(2) {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  header .container .mobile-menu--btn.active div:last-child {
    -webkit-transform: translateY(-9px) rotate(50deg);
            transform: translateY(-9px) rotate(50deg);
  }
  header .container .mobile-menu--btn {
    width: 30px;
    height: 22px;
    cursor: pointer;
    margin-right: 0%;
    padding-right: 2px;
    z-index: 16;
  }
  header .container .mobile-menu--btn div {
    width: 30px;
    height: 2px;
    background-color: #e8e8e8;
    margin-bottom: 7px;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
  }
  header .container .nav-mobile.active {
    right: 0%;
  }
  header .container .nav-mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    position: fixed;
    top: 0;
    right: -60%;
    width: 60%;
    height: 100vh;
    background-color: #101616;
    z-index: 15;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
  }
  header .container .nav-mobile ul {
    width: 100%;
    margin-top: 30px;
    height: 150px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .container .nav-mobile ul li {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
    margin-right: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #e8e8e8;
  }
  header .container .nav-mobile ul li .menu-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  header .container .nav-mobile ul li:last-child {
    border-bottom: 0;
  }
  header .container .nav-mobile ul .cta {
    width: 70px;
    border-bottom: 0;
  }
  header .container .nav-mobile .credits {
    font-size: 13px;
    text-align-last: center;
    margin-bottom: 5px;
  }
}

@media (max-width: 400px) {
  header .container .logo {
    width: 100px;
  }
  header .container .menu-buttons {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .container .menu-buttons .cta {
    margin-bottom: 20px;
  }
}

#main-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: visible;
  margin-bottom: 50px;
}

#main-section .container {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60%;
}

#main-section .container h1 {
  margin-bottom: 30px;
}

#main-section .container .app-image {
  position: relative;
  height: 400px;
  overflow: visible;
}

#main-section .container .app-image img {
  width: 200px;
  height: inherit;
  -webkit-filter: drop-shadow(0px 15px 15px rgba(0, 0, 0, 0.6));
          filter: drop-shadow(0px 15px 15px rgba(0, 0, 0, 0.6));
}

#main-section .container .app-image .app-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 130px;
  text-align: center;
  position: absolute;
  top: 66%;
  left: 35px;
  font-size: 12px;
}

#main-section .container .app-image .app-text h2 {
  width: 170px;
  margin-bottom: 15px;
  -webkit-filter: blur(0.5px);
          filter: blur(0.5px);
}

#main-section .container .app-image .app-text a {
  text-decoration: none;
  background-color: #e8e8e8;
  color: #101616;
  padding: 5px 20px 5px 20px;
  border-radius: 10px;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  -webkit-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
  -webkit-filter: blur(0.2px);
          filter: blur(0.2px);
}

#main-section .container .app-image .app-text a:hover {
  background-color: #101616;
  color: #e8e8e8;
}

#main-section .container .search-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow-y: visible;
}

#main-section .container .search-input input {
  width: 300px;
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #e8e8e8;
  color: #101616;
  -webkit-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
}

#main-section .container .search-input .search-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

#main-section .container .search-input .search-buttons button {
  width: 100px;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #e8e8e8;
  color: black;
  border: none;
  -webkit-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin-right: 30px;
  font-size: 15px;
  font-weight: 400;
  -webkit-transition: all ease-out 0.01s;
  transition: all ease-out 0.01s;
}

#main-section .container .search-input .search-buttons button:active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#main-section .container .search-input .search-buttons .adv-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #111717;
  color: #e8e8e8;
  -webkit-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  outline: none;
}

#main-section .container .search-input .search-buttons .adv-search:active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#main-section .container .search-input .adv-search--body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  background-color: #e8e8e8;
  left: 0px;
  top: 150px;
  width: 260px;
  height: 100px;
  padding: 0 20px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
}

#main-section .container .search-input .adv-search--body .select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

#main-section .container .search-input .adv-search--body .select p {
  color: black;
  margin-right: 10px;
}

#main-section .container .search-input .adv-search--body .select select {
  width: 100px;
  color: black;
  border-radius: 5px;
}

#main-section .container .search-input .adv-search--body .select select option {
  color: black;
}

@media (max-width: 768px) {
  #main-section {
    overflow: visible;
  }
  #main-section .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #main-section .container .image-search {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 30px;
  }
  #main-section .container .image-search h1 {
    font-size: 23px;
    text-align: center;
  }
  #main-section .container .image-search .search-input .search-buttons {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
  }
  #main-section .container .image-search .search-input .adv-search--body {
    z-index: 10;
  }
  #main-section .container .app-image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 50px;
  }
}

.image-modal {
  position: fixed;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 99;
  -webkit-transition: opacity ease-in-out 0.3s;
  transition: opacity ease-in-out 0.3s;
}

.image-modal .modal-background {
  width: inherit;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.image-modal .modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  border-radius: 10px;
  background-color: #101616;
  overflow: visible;
}

.image-modal .modal .modal-image--area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(34, 40, 40, 0.3);
  padding: 20px 20px;
  width: 60%;
  height: 95%;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.image-modal .modal .modal-image--area img {
  max-width: 100%;
  max-height: 100%;
}

.image-modal .modal .modal-image--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
  max-width: 30%;
  overflow: hidden;
  height: 95%;
  border-radius: 10px;
}

.image-modal .modal .modal-image--info .modal-image--authorInfo {
  padding-left: 20px;
  margin-bottom: 30px;
}

.image-modal .modal .modal-image--info .modal-image--authorInfo .image-author {
  margin-bottom: 10px;
}

.image-modal .modal .modal-image--info .modal-image--authorInfo .image-author a {
  text-decoration: none;
  position: relative;
  font-weight: 600;
}

.image-modal .modal .modal-image--info .modal-image--authorInfo .image-author a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.image-modal .modal .modal-image--info .modal-image--authorInfo .image-author a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid #e8e8e8;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.image-modal .modal .modal-image--info .modal-image--authorInfo .image-proportion {
  font-size: 13px;
}

.image-modal .modal .modal-image--info .modal-image--authorInfo .image-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
}

.image-modal .modal .modal-image--info .modal-image--authorInfo .image-add p {
  margin-right: 10px;
  font-size: 13px;
  text-decoration: underline;
  cursor: pointer;
}

.image-modal .modal .modal-image--info ul {
  list-style: none;
}

.image-modal .modal .modal-image--info ul .modal-image--links {
  max-width: calc(100% - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  padding: 0 10px 10px 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.image-modal .modal .modal-image--info ul .modal-image--links:last-child {
  border-bottom: none;
}

.image-modal .modal .modal-image--info ul .modal-image--links .image-links--wrapper {
  max-width: 100%;
}

.image-modal .modal .modal-image--info ul .modal-image--links .image-links--wrapper a {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #222828;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
}

.image-modal .modal .modal-image--info ul .modal-image--links .image-links--wrapper a .svg {
  margin-left: 5px;
}

.image-modal .modal .modal-image--info ul .modal-image--links .image-links--wrapper a .link {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-bottom: 1px dotted #e8e8e8;
  margin-left: 20px;
}

.image-modal .modal .close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: -10px;
  right: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #101616;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.image-modal .modal .close-btn:hover {
  background-color: #e8e8e8;
}

.image-modal .modal .close-btn:hover div {
  background-color: #101616;
}

.image-modal .modal .close-btn div {
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: #e8e8e8;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.image-modal .modal .close-btn div:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.image-modal .modal .close-btn div:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.image-modal.active {
  opacity: 1;
}

.image-modal.disabled {
  opacity: 0;
}

@media (max-width: 768px) {
  .image-modal .modal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    min-height: 100%;
    top: 0%;
    left: 0%;
    border-radius: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .image-modal .modal .modal-image--area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(34, 40, 40, 0.3);
    padding: 20px 20px;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .image-modal .modal .modal-image--info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 20px;
    margin-top: 20px;
    max-width: 100%;
    overflow: scroll;
    height: 95%;
    border-radius: 10px;
  }
  .image-modal .modal .close-btn {
    top: 10px;
    right: 10px;
  }
}

.search-result {
  background-color: #101616;
}

.search-result .container {
  max-width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-result .container .loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.search-result .container .loading div {
  width: 10px;
  height: 10px;
  -webkit-transform: scale(0);
          transform: scale(0);
  background-color: #e8e8e8;
  border-radius: 50%;
  margin-left: 5px;
  -webkit-animation: load 2s ease-in-out infinite;
          animation: load 2s ease-in-out infinite;
}

.search-result .container .loading div:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.search-result .container .loading div:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.search-result .container .loading div:nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.search-result .container .loading div:nth-child(4) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes load {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.search-result .container .blank-space {
  padding-bottom: 100px;
}

.search-result .container .images-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: column;
      -ms-flex-pack: column;
          justify-content: column;
}

.search-result .container .images-area h2 {
  text-align: center;
}

.search-result .container .images-area .images-area--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search-result .container .images-area .images-area--wrapper .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 250px;
  height: 200px;
  margin: 10px;
  overflow: hidden;
  cursor: pointer;
}

.search-result .container .images-area .images-area--wrapper .image:hover .image-info {
  opacity: 1;
}

.search-result .container .images-area .images-area--wrapper .image:hover img {
  width: 110%;
  height: 110%;
}

.search-result .container .images-area .images-area--wrapper .image .image-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  width: 90%;
  height: inherit;
  z-index: 1;
  padding: 0 15px;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  background-color: rgba(16, 22, 22, 0.6);
}

.search-result .container .images-area .images-area--wrapper .image .image-info svg {
  position: fixed;
  width: 25px;
  height: 25px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  z-index: 10;
  top: 10px;
  right: 10px;
  position: absolute;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.search-result .container .images-area .images-area--wrapper .image .image-info svg:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  fill: #f20061;
}

.search-result .container .images-area .images-area--wrapper .image .image-info .image-info--author {
  font-size: 17px;
  margin-bottom: 10px;
}

.search-result .container .images-area .images-area--wrapper .image .image-info .image-info--author span {
  text-transform: capitalize;
  font-weight: 600;
}

.search-result .container .images-area .images-area--wrapper .image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 0;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  font-size: 15px;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  text-decoration: none;
}

footer .container a .hover-border {
  position: relative;
}

footer .container a .hover-border::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

footer .container a .hover-border:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

footer .container a svg {
  width: 20px;
  height: auto;
  margin-right: 10px;
}

footer .container .chapters-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container .chapters-app p {
  margin-right: 20px;
}

footer .container .chapters-app img {
  width: 100px;
  margin-right: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  footer {
    position: relative;
  }
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .container a {
    margin-bottom: 20px;
  }
  footer .container .chapters-app {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10px;
  }
  footer .container .chapters-app p {
    margin-bottom: 10px;
    margin-right: 0;
  }
}

.login-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
}

.login-area .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-width: 100vw;
  height: 100vh;
  -webkit-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.login-area .container::before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  background-image: url("./images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.login-area .container::after {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#101616));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #101616);
  z-index: -1;
}

.login-area .container img {
  width: 150px;
  height: auto;
  -webkit-filter: drop-shadow(2px 5px 5px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(2px 5px 5px rgba(0, 0, 0, 0.3));
}

.login-area .container .forms-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.login-area .container .forms-area .break {
  width: 1px;
  height: 350px;
  background-color: rgba(232, 232, 232, 0.6);
}

.login-area .container .forms-area form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px;
}

.login-area .container .forms-area form h1 {
  font-size: 23px;
  margin-bottom: 10px;
  text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
}

.login-area .container .forms-area form h2 {
  text-align: center;
  font-size: 12px;
  margin-bottom: 20px;
  text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
}

.login-area .container .forms-area form h2 strong {
  font-weight: 600;
  cursor: pointer;
}

.login-area .container .forms-area form input {
  background-color: #e8e8e8;
  border: none;
  border-radius: 10px;
  padding: 8px 20px;
  outline: none;
  color: #101616;
  margin-bottom: 22px;
  -webkit-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
}

.login-area .container .forms-area form button {
  color: #101616;
  background-color: #e8e8e8;
  border: 0;
  padding: 10px 20px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.login-area .container .forms-area form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  font-size: 13px;
}

.login-area .container .forms-area form div span {
  text-decoration: underline;
  cursor: pointer;
}

.login-area .container .forms-area form div input {
  margin: 0 5px 0 0;
}

.login-area .container .forms-area form p {
  font-size: 12px;
  margin-top: 30px;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 300;
}

@media (max-width: 700px) {
  .login-area .container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    border-radius: 0px;
  }
}

#about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about .container h1 {
  margin-top: 20px;
  max-width: 20%;
  border-bottom: 2px solid #e8e8e8;
}

#about .container div {
  margin-top: 20px;
  text-align: justify;
}

#about .container div a {
  text-decoration: none;
  border-bottom: 1px dotted;
}

@media (max-width: 645px) {
  .about {
    max-height: 100%;
  }
  .about .container {
    max-height: 400px;
  }
  .about h1 {
    font-size: 20px;
  }
  .about p {
    font-size: 15px;
  }
}

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-height: 100vh;
  background-color: #101616;
  overflow-x: hidden;
}

.no-scroll {
  overflow: hidden;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
  height: inherit;
}

.back-top--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  background-color: #e8e8e8;
  border-radius: 50%;
  -webkit-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  z-index: 10;
}

.back-top--btn div {
  width: 15px;
  height: 3px;
  background-color: #101616;
}

.back-top--btn div:first-child {
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  border-radius: 0 50% 50% 0;
}

.back-top--btn div:last-child {
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  border-radius: 50% 0 0 50%;
  margin-left: -6px;
}

@media (max-width: 1130px) {
  .container {
    width: calc(100% - 50px);
  }
}
/*# sourceMappingURL=style.css.map */