@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;800&family=Roboto:ital,wght@0,100;0,300;0,400;1,500&display=swap");

@import "./variables";
@import "./background";
@import "./header";
@import "./search";
@import "./modal";
@import "./result";
@import "./footer";

@import "./login";

@import "./about";

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-height: 100vh;
  background-color: $primaryColor;
  overflow-x: hidden;
}

.no-scroll {
  overflow: hidden;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
  height: inherit;
}

.back-top--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  background-color: $secondaryColor;
  border-radius: 50%;
  box-shadow: $boxShadow;
  cursor: pointer;
  z-index: 10;

  div {
    width: 15px;
    height: 3px;
    background-color: $primaryColor;

    &:first-child {
      transform: rotate(-50deg);
      border-radius: 0 50% 50% 0;
    }

    &:last-child {
      transform: rotate(50deg);
      border-radius: 50% 0 0 50%;
      margin-left: -6px;
    }
  }
}

@media (max-width: 1130px) {
  .container {
    width: calc(100% - 50px);
  }
}
